DISCORD_TOKEN=pon_aqui_el_token_del_bot
CLIENT_ID=pon_aqui_el_application_id

GUILD_ID=pon_aqui_el_id_del_servidor
STAFF_ROLE_ID=pon_aqui_el_id_del_staff_rol

TEST_GUILD_ID=pon_aqui_el_id_del_servidor_test
TEST_STAFF_ROLE_ID=pon_aqui_el_id_del_staff_rol_del_server_test

ROLE_5=pon_aqui_el_id_del_rol_5
ROLE_10=pon_aqui_el_id_del_rol_10
ROLE_15=pon_aqui_el_id_del_rol_15